{
    box-sizing: border-box;
}

body {
background-color: #4A7AD3;
justify-content: center;
}

.App {
  text-align: center;
}

.header {
  background-color: #3D2B56;
  height: 80px;
  padding: 20px;
}

.priority {
  background: #B23027;
}

.todo-app {
  max-width: 800px;
  margin: 40px auto;  
  display:flex-inline;
  justify-content: center

  
}

h2 {
  text-align:center;
  color:#ffffff;
}

ul {
  display: flex-inline;
  color: white;1
  justify-content: center;
  padding:10px 0px; 
}

li {
  display:flex;
  margin: 5px;
  background-color: navy;
}

span {
  display: inline-blockwe;
  flex: 6;
  margin: auto;
}

.text-box {
  display:flex;
  flex:2;
  justify-content: center;

}

button {
  max-width:50px;
  border:none;
  background-color:#599bb3;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;  
  padding:4px 16px;
  margin: 5px;
  flex:1;
}

button:hover {
  background-color: #FFA500;
}

.checked {
  text-decoration:line-through;
  background-color:grey;
  color:darkgrey
}