

html {
  overflow-y: scroll;
}

body {
background-color: #4A7AD3;
justify-content: center;
}

.App {
  text-align: center;
}

.header {
  background-color: #3D2B56;
  height: 120px;
  padding: 20px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  min-width: 90%;

}

.priority {
  background: #B23027;
}

.todo-app {
  max-width: 90%;
  width: 800px;
  margin: 40px auto;  
  display:flex-inline;
  justify-content: center  
}

h1 {
  text-align:center;
  color:#ffffff;
  text-shadow: 0px 3px 15px rgba(0,0,0,.5);

}

.text-box {
  width:90%;
  background-color: orange;
  display: block;
  align-content: center;
  justify-content: center;


}

.text-box form {
  justify-content: center;
  display: flex;
  height: 30px;
}
input[type=text] {
  width: 90%;
  border: 1px; 
  border-radius: 0;
  padding: 6px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  -webkit-appearance: none;
  display: inline-block;
  flex-grow: 5;
}

input[type=submit] {
  width: 60px;
  border:none;
  background-color:#599bb3;
  display:inline-block;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  cursor:pointer;
  color:#ffffff;  
  padding: 6px 12px;
}

ul {
  display: flex-inline;
  color: white;1
  justify-content: center;
  padding:10px 0px; 
}

li {
  display:flex;
  margin: 5px;
  background-color: navy;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

span {
  display: inline-block;
  flex: 6;
  margin: auto 10px;
}

button {
  max-width:50px;
  border:none;
  background-color:#599bb3;
  display:inline-block;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  cursor:pointer;
  color:#ffffff;  
  padding:4px 16px;
  margin: 5px;
  flex:1;
}

button:hover {
  background-color: #FFA500;
}

.checked {
  text-decoration:line-through;
  background-color:grey;
  color:darkgrey;
}